<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpsBinding_IService">
                    <security mode="Transport" />
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://eal-welfaceproject.azurewebsites.net/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpsBinding_IService"
                contract="LogConverterService.IService" name="BasicHttpsBinding_IService" />
        </client>
    </system.serviceModel>
</configuration>